<div class="container">
  <div class="game-container">
    <div class="box" *ngFor="let n of num">
      <p id="{{ n }}">
        {{ n }}
      </p>
    </div>
    <svg>
      <defs>
        <marker
          id="head3"
          orient="auto-start-reverse"
          markerWidth="3"
          markerHeight="4"
          refX="0.1"
          refY="2"
        >
          <path d="M0,0 V4 L2,2 Z" fill="black" />
        </marker>
      </defs>
      <g fill="none" stroke="black" stroke-width="6">
        <path
          marker-start="url(#head3)"
          stroke-linecap="round"
          fill="none"
          stroke="red"
          id="line"
        />
      </g>
    </svg>
    <svg>
      <defs>
        <marker
          id="head3"
          orient="auto-start-reverse"
          markerWidth="3"
          markerHeight="4"
          refX="0.1"
          refY="2"
        >
          <path d="M0,0 V4 L2,2 Z" fill="black" />
        </marker>
      </defs>
      <g fill="none" stroke="black" stroke-width="6">
        <path
          marker-start="url(#head3)"
          stroke-linecap="round"
          fill="none"
          stroke="yellow"
          id="line1"
        />
      </g>
    </svg>
    <svg>
      <defs>
        <marker
          id="head3"
          orient="auto-start-reverse"
          markerWidth="3"
          markerHeight="4"
          refX="0.1"
          refY="2"
        >
          <path d="M0,0 V4 L2,2 Z" fill="black" />
        </marker>
      </defs>
      <g fill="none" stroke="black" stroke-width="6">
        <path
          marker-start="url(#head3)"
          stroke-linecap="round"
          fill="none"
          stroke="blue"
          id="line4"
        />
      </g>
    </svg>
    <svg>
      <defs>
        <marker
          id="head1"
          orient="auto"
          markerWidth="3"
          markerHeight="4"
          refX="0.1"
          refY="2"
        >
          <path d="M0,0 V4 L2,2 Z" fill="black" />
        </marker>
      </defs>

      <path
        id="arrow-line2"
        marker-end="url(#head1)"
        stroke-width="3"
        stroke-dasharray="15"
        fill="none"
        stroke="black"
      />
    </svg>
    <svg>
      <defs>
        <marker
          id="head"
          orient="auto"
          markerWidth="3"
          markerHeight="4"
          refX="0.1"
          refY="2"
        >
          <path d="M0,0 V4 L2,2 Z" fill="black" />
        </marker>
      </defs>

      <path
        id="arrow-line1"
        marker-end="url(#head)"
        stroke-width="3"
        stroke-dasharray="15"
        fill="none"
        stroke="black"
      />
    </svg>
  </div>
  <div class="score-section">
    <p class="value">Dice Value {{ diceValue }}</p>
    <div class="dice" id="dice" [hidden]="disableButton">
      <div class="side one"></div>
      <div class="side two"></div>
      <div class="side three"></div>
      <div class="side four"></div>
      <div class="side five"></div>
      <div class="side six"></div>
    </div>
    <div class="{{ side }}" *ngFor="let side of hideDice" id="{{ side }}"></div>

    <button type="button" (click)="dice()" [disabled]="disableButton">
      Stop
    </button>
    <p>Position {{ player.position }}</p>
    <p>Player {{ player["id"] }}</p>
  </div>
</div>
